<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="uk.co.alt236.bluetoothconnectionlog.map">

    <application>
        <activity android:name=".MapActivity" />

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDvcmGgGIlMbQjEQP686ICnFZQ0fkbeplU" />
    </application>
</manifest>



